<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PyBox{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
    
    <div class="navbar-left">
        <a href="{{ url_for('index') }}" class="navbar-logo">PyBox 📦</a>
        
        {% if session.get('user_id') %}
            <div class="navbar-menu">
                <div class="navbar-dropdown">
                    <a href="{{ url_for('muj_dicom', kategorie='vse') }}" class="{{ 'active' if request.endpoint == 'muj_dicom' }}">
                        <i class="fas fa-x-ray"></i> DICOM data ▾
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('muj_dicom', kategorie='vse') }}">Nezařazeno</a>
                        <a href="{{ url_for('muj_dicom', kategorie='hrudnik') }}">Hrudník</a>
                        <a href="{{ url_for('muj_dicom', kategorie='pater_c') }}">C Páteř</a>
                        <a href="{{ url_for('muj_dicom', kategorie='pater_th') }}">Th Páteř</a>
                        <a href="{{ url_for('muj_dicom', kategorie='pater_ls') }}">LS Páteř</a>
                    </div>
                </div>

                <a href="{{ url_for('moje_fotky') }}" class="{{ 'active' if request.endpoint == 'moje_fotky' }}">
                    Fotky
                </a> 
            </div>
        {% endif %}
    </div>

    <div class="navbar-links">
        {% if session.get('user_id') %}
            <span style="color: #9ca3af; font-size: 0.85rem; font-weight: bold;">👤 {{ session.get('user_jmeno') }}</span>
            <button type="button" id="btn-odhlasit" class="btn btn-danger">Odhlásit se</button>
        {% else %}
            <a href="{{ url_for('prihlaseni') }}">Přihlásit</a>
            <a href="{{ url_for('registrace') }}" class="btn btn-outline" style="padding: 6px 15px; border-width: 1px;">Registrace</a>
        {% endif %}
    </div>

</nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>