{% extends "base.html" %}

{% block title %}Domovská stránka | PyBox{% endblock %}

{% block content %}
<header>
    <h1>Vítejte v aplikaci PyBox!</h1>
</header>

<main>
    {% if session.get('user_id') %}
        <div class="card">
            <h2>Jste přihlášeni ✅</h2>
            <p>Můžete začít nahrávat své oblíbené fotky do galerie.</p>
        </div>
    {% else %}
        <div class="card">
            <h2>Nejste přihlášeni 🔒</h2>
            <p>Pro přístup k obsahu se prosím přihlaste nebo zaregistrujte nahoře v liště.</p>
        </div>
    {% endif %}
</main>
{% endblock %}